<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - <%= room %></title>
<!--	<link rel="stylesheet" href="/css/chatroomStyles.css">-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<script>
		'use strict'

		$(() => {
			let socket = io('<%= host %>' + '/chatter')
			let roomID = '<% roomID %>'
			let user = '<%= user.fullName %>'
			let userPic = '<%= user.profilePic %>'
			let chatInput = $("input[name='userInput']")
			console.log(chatInput)
			let chatMessagesDiv  = $('.chatMessages')

			socket.on('connect', () => {
				socket.emit('join', {
					roomID,
					user,
					userPic
				})
			})

			let updateFeed = (userPic, message) => {
				let template = `
				<div class="box has-background-grey-lighter">
              <article class="media">

                <div class="media-content">
                  <div class="content">
                    <span>
                          <strong id="displayName">${user}</strong>
                  </span>

                    <p id="messageText">
                      
							${ message }                    </p>
                  </div>

                </div>
              </article>
            </div>
`
				$(template).hide().prependTo(chatMessagesDiv).slideDown(100)
			}

			chatInput.on('keyup', function (event) {
				event.preventDefault()
				let messageField = $(this)
				if (event.which === 13 && messageField.val() !== '') {
					socket.emit('newMessage'), {
						roomID,
						user,
						userPic,
						message: messageField.value
					}
					updateFeed(userPic, messageField.val())
					messageField.val('')
				} 
			})

			socket.on('inMessage', data => {
				let parsedData = JSON.parse(data)
				updateFeed(parsedData.userPic, parsedData.message)
			})
		})
	</script>

</head>
<body>
		<section class="section">
				<div class="container">
				  <h1 class="title">
						<%= room %>				  </h1>
				  <p class="subtitle">
					ChatCAT Channel | <%= user.fullName %>

				  </p>
				  <div class="card">
						<header class="card-header">

										<a class="card-footer-item" href="/rooms" id="roomsBtn">Rooms</a>
										<a class="card-footer-item" href="/logout" id="logOutBtn">Logout</a>
									
						</header>

						</div>

					  </div>
				</div>
			  </section>
	<div class="container">
		<div class="titlePanel">
			<h1></h1>
		</div>
		<section class="section">
		<div class="chatListDiv">
			<div class="chatMessagesPanel">
				<div style="height: 400px; overflow-y: scroll; "class="chatMessages">
				
				</div>
			</section>
				<div class="typePanel">
					<input type="text" class="input is-primary" name="userInput" placeholder="Type here and press enter">
				</div>
			</div>

		</div>
	</div>
</body>
</html>